body {
    width: 80%;
    margin: auto;
    font-family: Helvetica, sans-serif;
}


.card {
    display: flex;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: white;
    border: solid black 2pt;
    font-size: 12pt;
}

ul {
    padding: 0;
    list-style-type: none;
}