body {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: auto;
    font-family: Monospace;
    background-color: whitesmoke;
}

html {
    background-color: white;
}


.card {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    padding: 10px;
    /* font-family: monospace; */
}

button {
    /* width: 40%;
    height: 60px; */
    background-color: white;
    border: solid black 2pt;
    border-radius: 10px;
    font-size: 12pt;
    margin: 5px;
    font-family: monospace;
}

ul {
    padding: 0;
    list-style-type: none;
}

.task-list {
    display: block;
}

.completed {
    color: gray;
    background-color: darkgray;
}

.card > div {
    margin: 5px;
}

#submit-button {
    font-family: monospace;
}